.listItem{
    color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    line-height: 1.5715;
}
.listItem:hover{
    color: rgba(0, 0, 0, 0.7);
}
.listTitle{
    margin-bottom: 4px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 1.5715;
}
.listTitle:hover{
    color: rgba(0, 0, 0, 0.9) !important;
}
.dateDiv{
    padding-left: 10px;
}
.header {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    
    width: 100%; 
    margin: 0; 
    border-bottom: 2px solid rgba(5, 5, 5, 0.06);
}

.titleText {
    font-size: 40px;
}

.createButton {
    width: 40px;
    height: 40px; 
}

.balanceSpacer {
    width: 40px; 
    height: 1px;
    visibility: hidden; 
}